.git-nvim-win64-083
**/my-neovim-data/*
!**/my-neovim-data/treesitter-parser
**/packer/opt
**/packer/start/*
!**/packer/start/netrw.nvim
!**/packer/start/plenary.nvim
*.lnk
.vim-bookmarks
*.exe
output
*.csv
*.bin
*.pcm
**/NetrwTreeListing
