.git-nvim-win64-083
**/my-neovim-data/*
!**/my-neovim-data/treesitter-parser
!**/my-neovim-data/mason
**/packer/opt
**/packer/start/*
!**/packer/start/netrw.nvim
!**/packer/start/plenary.nvim
*.lnk
.vim-bookmarks
NetrwTreeListing
*.exe
!**/clangd/bin/clangd.exe
output
*.csv
*.bin
*.pcm
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_[0-9][0-9]-[0-9][0-9]-[0-9][0-9]*.*
