snippet pri "print string"
print([[$1]])
endsnippet

snippet prd "print integer var"
print(string.format([[$1: 0x%x(%d)]], $1, $1))
endsnippet

snippet prs "print string var"
print(string.format([[$1: %s]], $1))
endsnippet

